// ========================================================================
// ABSTRACTS => CONFIG SETTINGS
// ========================================================================
/**
 * | TABLE OF CONTENTS
 * =======================
 * |- FONTS
 * |
 * |- COLORS
 * |  |- Primary
 * |  |- Secondary
 * |  |- Neutral
 * |  |  |- Black
 * |  |  |- White
 * |  |  |- Gray
 * |  |- Supplementary
 * |  |  |- Spa
 * |  |  |- Dining
 * |  |  |- Enhancement
 * |  |  |- Event
 * |  |- Event-specific
 * |  |  |- Warning
 * |  |  |- Danger
 * |  |  |- Success
 * |
 * |- BASE
 * |  |- conditionals
 * |  |  |- text-rendering
 * |  |  |- font-smoothing
 * |  |  |- overflow-x-hidden
 * |  |- font
 * |  |  |- color
 * |  |  |- font-family
 * |  |  |- font-size
 * |  |  |- line-height
 * |  |  |- letter-spacing
 * |  |  |- font-weight
 * |  |  |- font-style
 * |  |- html, body
 * |
 * |- LAYOUT
 * |  |- offcanvas (sidebar)
 * |
 * |- TYPOGRAPHY
 * |  |- body copy
 * |  |- headings
 */


// FONTS
// ========================================================================
$font-primary:                  $TradeGothic-Light;
$font-condensed:                $TradeGothic-Condensed;
$font-bold-condensed:           $TradeGothic-BoldCondensed;



// COLORS
// ========================================================================
// COLORS => PRIMARY (gold)
$color-primary:                 $old-gold;
$color-primary-hover:           $ronchi;


//_____________________________________
// COLORS => SECONDARY (red)
$color-secondary:               $monza;
$color-secondary-hover:         $torch-red;
$color-secondary-alt:           $thunderbird;
$color-secondary-alt-hover:     $red-orange;


//_____________________________________
// COLORS => NEUTRAL => BLACK
$color-black:                   $black;
$color-black-lighten:           $mine-shaft;
$color-black-alt:               $cod-gray;


//_____________________________________
// COLORS => NEUTRAL => WHITE
$color-white:                   $white;
$color-white-alt:               $wild-sand;


//_____________________________________
// COLORS => NEUTRAL => GRAY
$color-gray-lighten-20:         $alto;
$color-gray-lighten-40:         $gallery;
$color-gray:                    $dusty-gray;
$color-gray-darken-20:          $dove-gray;
$color-gray-darken-40:          $tundora;


//_____________________________________
// COLORS => SUPPLEMENTARY => SPA (blue)
$color-spa:                     $danube;
$color-spa-alt:                 $azure;


//_____________________________________
// COLORS => SUPPLEMENTARY => DINING (green)
$color-dining:                  $gossamer;
$color-dining-alt:              $salem;


//_____________________________________
// COLORS => SUPPLEMENTARY => ENHANCEMENTS (brown)
$color-enhancement:             $makara;
$color-enhancement-alt:         $soya-bean;


//_____________________________________
// COLORS => SUPPLEMENTARY => EVENTS (purple)
$color-event:                   $smoky;
$color-event-alt:               $voodoo;


//_____________________________________
// COLORS => EVENT-SPECIFIC
$color-active:                  $danube;
$color-active-alt:              $azure;

$color-warning:                 $tan-hide;
$color-alert:                   $tan-hide; // colloquial name-use
$color-warning-alt:             $christine;
$color-alert-alt:               $christine;

$color-danger:                  $color-secondary;
$color-error:                   $color-secondary; // colloquial name-use
$color-danger-alt:              $color-secondary-alt;
$color-error-alt:               $color-secondary-alt;

$color-success:                 $gossamer;
$color-success-alt:             $salem;



// BASE
// ========================================================================
// BASE => conditionals
$base-text-rendering:           true;
$base-font-smoothing:           true;
$base-overflow-x-hidden:        true;


//_____________________________________
// BASE => font
$base-font-color:               $color-black-alt;
$base-font-family:              $font-primary;
$base-font-size:                12px;
$base-font-line-height:         1.675;
$base-font-letter-spacing:      0.25px;
$base-font-weight:              normal;
$base-font-style:               normal;



// LAYOUT
// ========================================================================
// LAYOUT => offcanvas (sidebar)
$layout-sidebar-width:          325px;
