// ========================================================================
// VARIABLES => COLORS
// Uses Name that Color tool to generate names
// http://chir.ag/projects/name-that-color/
// ========================================================================


//_____________________________________
// Golds
$old-gold:      #D7AE45;
$ronchi:        #EEC33F;


//_____________________________________
// Reds
$monza:         #D0021B;
$torch-red:     #f90926;

$thunderbird:   #C72113;
$red-orange:    #FC3C2C;


//_____________________________________
// Blacks
$black:         #000;
$cod-gray:      #1C1C1C;
$mine-shaft:    #333333;


//_____________________________________
// Whites
$white:         #fff;
$wild-sand:     #F6F6F6;


//_____________________________________
// Grays
$gallery:       #EBEBEB;
$alto:          #DFDFDF;
$dusty-gray:    #979797;
$dove-gray:     #707070;
$tundora:       #4A4A4A;


//_____________________________________
// Supplementary
$danube:        #4F89CD;
$azure:         #346CAE;

$gossamer:      #0C9E70;
$salem:         #087955;

$makara:        #847A71;
$soya-bean:     #5D564E;

$smoky:         #61506E;
$voodoo:        #4A3858;

$tan-hide:      #FAA05A;
$christine:     #E76D0D;
