// ========================================================================
// ABSTRACTS => TYPE
// ========================================================================

$TradeGothic-Light:         'Trade Gothic LT W01 Roman', sans-serif;
$TradeGothic-Condensed:     'Trade Gothic LT W01 Cn No-_18', sans-serif;
$TradeGothic-BoldCondensed: 'Trade Gothic LT W01 Bd CnNo-20', sans-serif;