/* stylelint-disable */
/**
 * Allows us to include animations as mixins.
 * 
 * @mixin keyframes
 * @param {String} $animation-name - Animation name
 * -----------------
 * @mixin animation
 * @param {String} $string - Animation name
 * 
 * @see https://codepen.io/ImagineProgramming/pen/HzwfJ
 * 
 * @example
 * ```
 * .class {
 *      @include animation('shrink-bounce-alt 600ms cubic-bezier(0.4, 0, 0.23, 1)');
 * }
 * ```
 */
@mixin keyframes($animation-name) {
    @keyframes #{$animation-name} {
        @content;
    }
}
@mixin animation($string) {
    animation: #{$string};
}



/**
 * @keyframes shrink-bounce
 * @keyframes shrink-bounce-alt
 * @keyframes shrink-bounce-fade-in
 */
@include keyframes(shrink-bounce) {
    0% { transform: scale(0); }
    5% { display: inline-block; }
    33% { transform: scale(1.5); }
    100% { transform: scale(1); }
}

@include keyframes(shrink-bounce-alt) {
    0% { transform: scale(1); }
    33% { transform: scale(0.5); }
    66% { transform: scale(1.1875); }
    100% { transform: scale(1); }
}

@include keyframes(shrink-bounce-fade-in) {
    0% { display: none; opacity: 0; transform: scale(0); }
    5% { display: inline-block; }
    33% { transform: scale(1.5); }
    100% { opacity: 1; transform: scale(1); }
}



/**
 * @keyframes grow-bounce
 */
@include keyframes(grow-bounce) {
    0%   { transform: scale(0.1); }
    66%  { transform: scale(1.5); }
    100% { transform: scale(1); }
}



/**
 * @keyframes dot
 */
@include keyframes(dot) {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}



/**
 * @keyframes fadeIn
 */
@include keyframes(fadeIn) {
    from { opacity: 0; }
    to { opacity: 1; }
}



/**
 * @keyframes draw
 */
@include keyframes(draw) {
    from { width: 0; }
    to { width: 2000px; }
}



/**
 * A closing icon animations.
 * 
 * @mixin animation-close
 */
// Options
// spin - icon rotates
// default - icon scales
$animation-close: default;
@mixin animation-close {
    @if ($animation-close == spin)  {
        .app-icon-close {
            transition: 300ms ease-in-out;
            transition-property: color, transform;
        }

        &:hover .app-icon-close, 
        &:focus .app-icon-close {
            color: $color-primary;
            transform: rotate(1turn) scale(1.35);
        }
    }

    @else {
        .app-icon-close {
            transition: 300ms ease-in-out;
            transition-property: color, transform;
        }

        &:hover .app-icon-close, 
        &:focus .app-icon-close {
            color: $color-primary;
            transform: scale(1.15);
        }
    }
}



/**
 * A pulsing placeholder animation.
 * 
 * @mixin animation-pulse
 */
@mixin animation-pulse {
    @keyframes placeHolderPulse {
        from { opacity: 0.6; }
        to { opacity: 0.9; }
    }

    animation: placeHolderPulse 0.8s ease-in-out infinite;
    animation-direction: alternate-reverse;
}



/**
 * A Facebook-style loading placeholder animation.
 * 
 * @mixin animation-swipe
 * @see [CodePen]{@link https://codepen.io/pjosh/pen/kXwaWZ}
 */
@mixin animation-swipe {
    @keyframes placeHolderSwipe {
        from { background-position: -600px 0; }
        to { background-position: 600px 0; }
    }

    animation: placeHolderSwipe 1s infinite linear forwards;
    background-color: $color-white-alt;
    background-image: linear-gradient(
        to right,
        #f3f3f3 0%,
        #f0f0f0 20%,
        #eeeeee 40%,
        #f8f8f8 100%
    );
    background-repeat: no-repeat;
}