@mixin button-transition {
    transition: 250ms ease-in-out;
    transition-property: color,
        background-color,
        border-color,
        box-shadow,
        padding,
        text-shadow,
        transform,
        width;
}

// @name input-transition
@mixin input-transition {
    transition: 150ms ease-in-out;
    transition-property: color,
        background-color,
        border-color,
        box-shadow,
        transform;
}
